@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html {
        background-image: url("backgroundIMG.jpg"); 
        background-size: cover;
        width: 100%;
        height: 100%;
    }

#folder{
        background-color: rgb(255 255 255 / 31%);
        height: 460px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 14px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        font-size: 15px;
        font-weight: 500;
        width: calc(80% - 20px);
        justify-content: center;
        margin: 0 auto;
        border: 2px solid rgb(255 255 255 / 31%);
       }

    @media screen and (max-width: 900px){
        body {padding: 3%;}
        /* html {background-image: url("iPad-Wallpaper.jpg"); background-size:cover; } */
        html {background-image: url("backgroundIMG.jpg"); background-size:cover; }
        #dock {display: none;}
        #menu {display: none;}
        #header {padding: 0 16px;}
        #sidenav {display: none;}
        #contentlabel>#content-text {display: none;}
        #Mobilecontent-text>table {display: inline;}
    }
    @media screen and (max-width: 450px){
        body {margin: 1%;}
        /* html {background-image: url("iphoneWallpaper.jpg"); background-size:cover; } */
        html {background-image: url("backgroundIMG.jpg"); background-size:cover; }
        #dock {display: none;}
        #menu {display: none;}
        #header {padding: 0 16px;}
        #sidenav>table{display: none;}
        #contentlabel>#content-text {display: none;}
        #Mobilecontent-text>table {display: inline;}
    }
    #dock{
        background-color: rgb(255 255 255 / 31%);
        height: 200px;
        height: 6vh;
        position: relative;
        flex-direction: column;
        overflow: hidden;
        border-radius: 14px 14px 1px 1px;
        width: calc(70% - 20px);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        bottom: 0;
        margin: 0 auto;
        margin-top: 2%;
        border: 2px solid rgb(255 255 255 / 31%);

       }

       #menu {
        width: 15px;
        height: 15px;
        background-color: #f96057;
        border-radius: 50%;
        box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
        margin-right: 195px;
        flex-shrink: 0;
        /* margin-left:-2%;
        margin-top: -58%; */
        position: relative;
        top:-5px;
        left:-1%;

       }

       #header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 58px;
        width: 100%;
        padding: 0 30px;
        white-space: nowrap;
        background-color:  rgb(255 255 255 / 31%);
        top: 0px;
        position: absolute;
        overflow: hidden;
        z-index: -1;
        border-radius: 14px 14px 1px 1px;
        border-bottom: 1px solid rgb(255 255 255 / 31%);
    }

#sidenav{
    position: absolute;
    overflow: hidden;
    width: 20%;
    height: 91.1%;
    bottom:0;
    background-color:  rgb(255 255 255 / 31%);
    border-right: 1px solid rgb(255 255 255 / 31%);
    }
#contentlabel {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 38px;
        width: 73.2%;
        padding: 0 30px;
        top: 8.8%;
        white-space: nowrap;
        background-color:  rgb(255 255 255 / 31%);
        right: 0px;
        position: absolute;
        overflow: hidden;
        border-bottom: 1px solid rgb(255 255 255 / 31%);
    }
#contentlabel {
        justify-content: center;
        margin: 0 auto;
    }
#content-text>tr{
        border-left: 1px solid red;
        font-size: 32px;

    }
#Mobilecontent-text {
        align-items: center;
        flex-shrink: 0;
        height: 28px;
        width: 100%;
        padding: 0 30px;
        top: 8.8%;
        white-space: nowrap;
        background-color:  rgb(255 255 255 / 31%);
        right: 0px;
        position: absolute;
        overflow: hidden;
        border-bottom: 1px solid rgb(255 255 255 / 31%);
        display: none;
    }