
/* 
    #header {
        background-color: black;
        height: 2%;
        width: 100vw;
        overflow: hidden;
        top: 0;
    } */
    html {
        background-image: url("backgroundIMG.jpg"); 
        background-size: cover;
    }

    #folder{
        background-color: rgb(255 255 255 / 31%);
        height: 460px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 14px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        font-size: 15px;
        font-weight: 500;
        width: calc(80% - 20px);
        justify-content: center;
        margin: 0 auto;
       }

    @media screen and (max-width: 900px){
        body {padding: 3%;}
        html {background-image: linear-gradient(to bottom right, rgb(59, 50, 68), rgb(160, 125, 79)); background-size:cover; }
        #dock {display: none;}
        #menu {display: none;}
        #header {padding: 0 16px;}
    }
    #dock{
        background-color: rgb(255 255 255 / 31%);
        height: 200px;
        height: 6vh;
        position: relative;
        flex-direction: column;
        overflow: hidden;
        border-radius: 14px 14px 1px 1px;
        width: calc(70% - 20px);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        bottom: 0;
        margin: 0 auto;
        margin-top: 2%;

       }

       #menu {
        width: 15px;
        height: 15px;
        background-color: #f96057;
        border-radius: 50%;
        box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
        margin-right: 195px;
        flex-shrink: 0;
        /* margin-left:-2%;
        margin-top: -58%; */
        position: fixed;
        top:20px;
        left:12%;

       }

       #header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 58px;
        width: 100%;
        padding: 0 30px;
        white-space: nowrap;
        background-color:  rgb(255 255 255 / 31%);
        top: 3px;
        position: absolute;
        overflow: hidden;
        border-radius: 14px 14px 1px 1px;
    }